// @theme-colour-1: #fff;
// @theme-colour-2: #000;
// @theme-colour-3: #f79d00;
// @theme-colour-4: #008ccb;
// @theme-colour-5: #cea45b;
// @theme-colour-6: #f2f2f2;
// @theme-colour-7: #B7B7B7;
// @theme-colour-8: #333;
//
// @font-size-xxl: 30px;
// @font-size-xl: 21px;
// @font-size-l: 18px;
// @font-size-m: 16px;
// @font-size-s: 14px;
// @font-size-xs: 13px;
// @font-size-xxs: 12px;


@button-font: @theme-font-1;
@button-font-size: @font-size-m;
@button-font-size--760: @font-size-l;
@button-icon-font-size: @font-size-xl;
@button-icon-font-size--760: 26px;
@button-icon-font-size--1000: @font-size-xxl;

@button-font-colour-primary: @theme-colour-1;
@button-background-colour-primary: @theme-colour-3;
@button-font-colour-secondary: @theme-colour-1;
@button-background-colour-secondary: @theme-colour-4;
@button-font-colour-default: @theme-colour-1;
@button-background-colour-default: @theme-colour-4;

@button--icon-text-font-size: @font-size-m;
@button--icon-text-font-size--760: @font-size-l;
@button--icon-text-border: none;
@button--icon-text-border-radius: 3px;
@button--icon-text-box-shadow: none;
