// @theme-colour_1: #fff;
// @theme-colour_2: #000;
// @theme-colour_3: #f79d00;
// @theme-colour_4: #008ccb;
// @theme-colour_5: #cea45b;
// @theme-colour_6: #f2f2f2;
// @theme-colour_7: #B7B7B7;
// @theme-colour_8: #333;
//
// @font-size-xxl: 30px;
// @font-size-xl: 21px;
// @font-size-l: 18px;
// @font-size-m: 16px;
// @font-size-s: 14px;
// @font-size-xs: 13px;
// @font-size-xxs: 12px;


@site-nav-font: @theme-font-1;
@site-nav-font-size: @font-size-l;
@site-nav-font-size-weight: 300;
@site-nav-font-size-weight-desktop: 400;
@site-nav-font-color: @theme-colour-8;
@site-nav-font-color-hover: @theme-colour-3;
@site-nav-font-color-active: @theme-colour-3;
@site-nav-item-border-color: @theme-colour-7;
